<nav class="navbar navbar-expand-lg navbar-light bg-light px-3 shadow-sm">
  <a class="navbar-brand" href="/">MadLib</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "New", new_madlib_path, class: "nav-item nav-link" %>
    </div>
  </div>
</nav>